{% extends 'layouts/main.html' %} {% block title %}Composition{% endblock %} {% block content %}
<div class="page-header">
   <h1><i class="fa fa-superscript" aria-hidden="true"></i>  Composition of a relation</h1>
</div>
<div class="row">
<div class="col-md-8">
<button class="btn btn-primary" onclick="inputSwitch()">Switch the input mode</button>
   <br/><br/>
<form action='composition' method='POST' id="normal_input" name="normal_input">
   <div class="form-group">
      <label class="control-label lead">Enter a <b>relation M</b> and <b>power b</b> to find its composition:</label>
      <div class="input-group">
                    <span class="input-group-addon">M <i class="fa fa-caret-right" aria-hidden="true"></i></span>
                    <input class="form-control" type='text' name='matrix1' id='matrix1' {%if query1%}value={{ query1 }}{% endif %} placeholder="Enter the matrix here">
                    <span class="input-group-addon"> b <i class="fa fa-caret-right" aria-hidden="true"></i></span>
                    <select name="power" class="form-control" id="power">
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                    </select>
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" name='submit' id="submit"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Enter</button>
                    <a href="#" class="btn btn-info" id="info_button"><i class="fa fa-question-circle" aria-hidden="true"></i> Info</a>
                    </span>
      </div>
   </div>
</form>
    
<div id="multi-string-matrix" style="display:none; text-align: center">
   <div class="form-group">
      <label class="control-label lead">Select a <b>size</b> of matrix and <b>power</b> to find the composition:</label>
            <div class="input-group">
         <span class="input-group-addon">R <i class="fa fa-caret-right" aria-hidden="true"></i></span>
               <select style="width:70%" class="form-control" id="sel1" onchange="changeSize(this.value)">
                  <option value="2">2x2</option>
                  <option value="3">3x3</option>
                  <option value="4" selected>4x4</option>
                  <option value="5">5x5</option>
                  <option value="6">6x6</option>
                  <option value="7">7x7</option>
                  <option value="8">8x8</option>
                  <option value="9">9x9</option>
               </select>

             <select  style="width:30%" name="power" class="form-control" id="sel2">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
             </select>
         <span class="input-group-btn">
         <button class="btn btn-primary"  onclick='format_to_str("matrix1")'><i class="fa fa-hand-o-right" aria-hidden="true"></i> Enter</button>
         </span>
      </div>
         </div>

   <div id="table_checkboxes">
   </div>
</div>
<br>
<div class="animated zoomOut alert alert-dismissible alert-info" id="info_table" style="display:none;">
   <p class="text-center font-custom">
      <strong><span class="lead"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>Important!</span></strong>
      <br> Your expression must be like 
   <pre>(1,1),(2,3),(1,2)</pre>
   <pre>(1,5)(3,4)(5,3)</pre>
   </p>
</div>
        {%if errors%}
        <div class="panel panel-success animated fadeIn">
            <div class="panel-heading">
                <h3 class="panel-title">Error:</h3>
            </div>
            <p class="font-custom" style="margin-left: 20px;margin-top: 10px;">{{ errors }}</p>

            {%endif%} {%if result%}
            <div class="panel panel-success animated fadeIn">
                <div class="panel-heading">
                    <h3 class="panel-title">Result:</h3>
                </div>
                <table class="table table-boardered">
                    <tbody>
                        {%for row in result%}
                        <tr>
                            {% for col in row%}
                            <td class="text-center">{{col}}</td>
                            {%endfor%}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

                {%endif%}

   </div>
</div>
   <script src="../../static/js/matrix-input-script.js"></script>
{% endblock %}
