{% extends 'layouts/main.html' %} {% block title %}Числа Белла/Стірлінга{% endblock %} {% block content %}
<div class="page-header">
   <h1><i class="fa fa-bold" aria-hidden="true"></i>  Числа Белла/Стірлінга</h1>
</div>
<div class="row">
<div class="col-md-8">
<form action='bell_stirling_numbers' method='POST'>
   <div class="form-group">
      <label class="control-label lead">Введіть <b>вираз</b> щоб знайти числа:</label>
      <div class="input-group">
         <input type="hidden" name="lg" value="uk">
         <span class="input-group-addon">B <i class="fa fa-caret-right" aria-hidden="true"></i></span>
         <input class="form-control" type='text' name='bs_numbers' id='bs_numbers' {%if query%}value={{ query }}{% endif %} placeholder="Введіть вираз тут">
         <span class="input-group-btn">
         <button class="btn btn-primary" type="submit" name='submit' id="submit"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Ввід</button>
         <a href="#" class="btn btn-info" id="info_button"><i class="fa fa-question-circle" aria-hidden="true"></i> Інфо</a>
         </span>
      </div>
   </div>
</form>
<br>
<div class="animated zoomOut alert alert-dismissible alert-info" id="info_table" style="display:none;">
   <p class="text-center font-custom" style="word-wrap: break-word">
      <strong><span class="lead"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>Важливо!</span></strong>
      <br> <span>Ваш вираз повинен виглядати наступним чином:</span>
   <pre>S(3,2) + B(3)</pre>
   <pre>B(8) - S(5,3) + B(2)</pre>
   <span class="font-custom"><b>Число Белла</b> (число всіх невпорядкованих розбиттів n-елементної множини)</span>
   <pre>B(n)</pre>
   <span class="font-custom"><b>Число Стірлінга</b> (число невпорядкованих розбиттів n-елементної множини на k непустих підмножин)</span>
   <pre>S(n, k)</pre>
   </pre></p>
</div>
{%if errors%}
<div class="panel panel-success animated fadeIn">
   <div class="panel-heading">
      <h3 class="panel-title">Помилка:</h3>
   </div>
   <p class="font-custom" style="margin-left: 20px;margin-top: 10px;">{{ errors }}</p>
      {%endif%} {%if result%}
   <div class="panel panel-success animated fadeIn">
      <div class="panel-heading">
         <h3 class="panel-title">Результат:</h3>
      </div>
      <ul class="font-custom" style="margin: 5px; text-align: center">
         <b style="word-wrap: break-word">
         {{result[0]}}
            {%if result[1]%}
         <br>
            {%endif%}
   {{result[1]}}
            </b>
      </ul>
      {%endif%}
   </div>
</div>
{% endblock %}
