{% extends 'layouts/main.html' %} {% block title %}Таблиця істинності{% endblock %} {% block content %}

<div class="page-header">
    <h1><i class="fa fa-table" aria-hidden="true"></i> Генератор таблиці істинності</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <form action='truth_table' method='POST'>

            <div class="form-group">
                <label class="control-label lead">Введіть <b>формулу</b> для генерації таблиці істинності:</label>
                <div class="input-group">
                    <span class="input-group-addon">&#402; <i class="fa fa-caret-right" aria-hidden="true"></i></span>
                    <input type="hidden" name="lg" value="uk">
                    <input class="form-control" type='text' name='formula' id='formula' {%if query%}value={{ query }}{% endif %} placeholder="Введіть формулу">
                    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit" name='submit'><i class="fa fa-hand-o-right" aria-hidden="true"></i> Ввід</button>
      <a href="#" class="btn btn-info" id="info_button"><i class="fa fa-question-circle" aria-hidden="true"></i> Інфо</a>
    </span>
                </div>
            </div>
        </form>
        <br>

        <div class="animated zoomOut alert alert-dismissible alert-info" id="info_table" style="display:none;">
            <p class="text-center font-custom">
                <strong><span class="lead"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Важливо!</span></strong>
                <br><b>Ви можете використовувати</b>: <code>^</code> (і), <code>V</code> (або), <code>%</code> (альтернативне або), <code>~</code> (рівне), <code>!(-)</code> (не), <code>->(>)</code> (якщо, то), <code>()</code> (дужки), <code>T</code> (Істина), <code>F</code> (Хиба).
                <br> <b>Використовуйте лише одинарні букви</b>, як: <code>!p</code> , <code>o^r</code> , <code>(a^b)Vc</code> , <code>!!x</code> тощо..
                <br> <b>Більше прикладів</b>: <pre>AVB</pre>
                <br> <pre>((A^B)->C)->D</pre></p>
        </div>
        {%if errors%}
        <div class="panel panel-success animated fadeIn">
            <div class="panel-heading">
                <h3 class="panel-title">Помилка:</h3>
            </div>
            <p>{{ errors }}</p>

            {%endif%} {%if result%}
            <div class="panel panel-success animated fadeIn">
                <div class="panel-heading">
                    <h3 class="panel-title">Результат:</h3>
                </div>
                <table class="table table-boardered">
                    <tbody>
                        {%for row in result%}
                        <tr>
                            {% for col in row%}
                            <td class="text-center">{{col}}</td>
                            {%endfor%}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

                {%endif%}

            </div>
        </div>

        {% endblock %}