{% extends 'layouts/main.html' %} {% block title %}Relations{% endblock %} {% block content %}

<div class="page-header">
    <h1><i class="fa fa-arrows-h" aria-hidden="true"></i>  Relations checker</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <form action='relations' method='POST'>

            <div class="form-group">
                <label class="control-label lead">Enter a <b>relation</b> to check its properties:</label>
                <div class="input-group">
                    <span class="input-group-addon">R <i class="fa fa-caret-right" aria-hidden="true"></i></span>
                    <input class="form-control" type='text' name='relation' id='relation' placeholder="Enter the relation here">
                    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit" name='submit'><i class="fa fa-hand-o-right" aria-hidden="true"></i> Enter</button>
      <a href="#" class="btn btn-info" id="info_button"><i class="fa fa-question-circle" aria-hidden="true"></i> Info</a>
    </span>
                </div>
            </div>
        </form>
        <br>

        <div class="animated zoomOut alert alert-dismissible alert-info" id="info_table" style="display:none;">
            <p class="text-center font-custom">
            <strong><span class="lead"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>Important!</span></strong>
            <br> Your expression must be like <pre>(1,1),(2,3),(1,2)</pre> <pre>(1,5)(3,4)(5,3)</pre>
            </p>
        </div>

        {%if result%}
        <div class="panel panel-success animated fadeIn">
            <div class="panel-heading">
                <h3 class="panel-title">Result:</h3>
            </div>
            <ul>
                {% for res in result %}
                <li>{{ res }}</li>
                {% endfor %}
            </ul>
            {%endif%}

        </div>
    </div>

    {% endblock %}