{% extends 'layouts/main_uk.html' %} {% block title %}Про нас{% endblock %} {% block content %}

<div class="page-header">
    <h1>Про проект "Калькулятор для дискретної математики"</h1>
</div>
<p class="lead navbar">Цей <i class="fa fa-university" aria-hidden="true"></i> навчальний проект створений для того, щоб навчитися використовувати <i class="fa fa-code" aria-hidden="true"></i> навики програмування разом із нашими знаннями Дискретної <i class="fa fa-superscript" aria-hidden="true"></i> Математики на <i class="fa fa-globe" aria-hidden="true"></i> практиці.
    <br>
    <br><i class="fa fa-users" aria-hidden="true"></i> Автори:
    <ul class="navbar">
        <li><a href="https://www.facebook.com/ira.zakharchenko.1" target="_blank">Ірина Захарченко</a></li>
        <li><a href="https://www.facebook.com/roman.vey" target="_blank">Роман Вей</a></li>
        <li><a href="https://www.facebook.com/1etsbehonest" target="_blank">Володимир Забульський</a></li>
        <li><a href="https://mpetruk.com" targe="_blank">Мар'ян Петрук</a></li>
    </ul>
</p>

{% endblock %}