{% extends 'layouts/main.html' %} {% block title %}Множення{% endblock %} {% block content %}
<div class="page-header">
    <h1><i class="fa fa-times" aria-hidden="true"></i>   Множення</h1>
</div>
<div class="row">
<div class="col-md-8">
<form action='multiplication' method='POST'>
    <div class="form-group">
        <label class="control-label lead">Введіть <b>кортежі</b> для обчислення добутку</label>
        <div class="input-group">
            <span class="input-group-addon">M <i class="fa fa-caret-right" aria-hidden="true"></i>  </span>
            <input class="form-control" type='text' name='matrix1' id='matrix1' {%if query1%}value={{ query1 }}{% endif %} placeholder="Введіть матрицю тут">
            <span class="input-group-addon"> <i class="fa fa-times" aria-hidden="true"></i></span>
            <input class="form-control" type='text' name='matrix2' id='matrix2' {%if query2%}value={{ query2 }}{% endif %} placeholder="введіть матрицю тут">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" name='submit'><i class="fa fa-hand-o-right" aria-hidden="true"></i> Ввід</button>
            <a href="#" class="btn btn-info" id="info_button"><i class="fa fa-question-circle" aria-hidden="true"></i> Інфо</a>
            </span>
        </div>
    </div>
</form>
<br>
<div class="animated zoomOut alert alert-dismissible alert-info" id="info_table" style="display:none;">
    <p class="text-center font-custom">
        <strong><span class="lead"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>Важливо!</span></strong>
        <br> Ваш вираз повинен виглядати наступним чином:
    <pre>(1,1),(2,3),(1,2)</pre>
    <pre>(1,5)(3,4)(5,3)</pre>
    </p>
</div>
{%if errors%}
<div class="panel panel-success animated fadeIn">
    <div class="panel-heading">
        <h3 class="panel-title">Помилка:</h3>
    </div>
    <p class="font-custom" style="margin-left: 20px;margin-top: 10px;">{{ errors }}</p>
    {%endif%} {%if result%}
    <div class="panel panel-success animated fadeIn">
        <div class="panel-heading">
            <h3 class="panel-title">Результат:</h3>
        </div>
        <table class="table table-boardered">
            <tbody>
                {%for row in result%}
                <tr>
                    {% for col in row%}
                    <td class="text-center">{{col}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
    </div>
</div>
{% endblock %}

