{% extends 'layouts/main.html' %}
{% block title %}Table of truth{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Truth table generator</h1>
</div>
<div class="row">
<div class="col-md-8">
<form action='truth_table' method='POST'>

<div class="form-group">
  <label class="control-label lead">Enter a formula to generate the table of truth:</label>
  <div class="input-group">
    <span class="input-group-addon">&#402;</span>
    <input class="form-control" type='text' name='formula' id='formula' placeholder="Enter the formula here">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit" name='submit'>Enter</button>
      <a href="#" class="btn btn-info" id="info_button">Info</a>
    </span>
  </div>
</div>
</form>
<br>

<div class="alert alert-dismissible alert-info" id="info_table" style="display:none;">
  <strong>Important!</strong>  You can use: ^(and), V(or), %(xor), ~(equal), 
!(-)(not), ->(>)(implication), ()(brackets), T(True), F(False). <br>
Use small letters, like: !p, o^r, (a^b)Vc, !!x, etc.. <br>
More examples: 
AVB <br>
((A^B)->C)->D
</div>

{%if result%}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Result:</h3>
  </div>
<table class="table table-boardered">
      <tbody>
          {%for row in result%}
<tr >
    {% for col in row%}
    <td>{{col}}</td>
  {%endfor%}
    </tr>
          {%endfor%}
    </tbody>
    </table>

{%endif%}

</div>
</div>

{% endblock %}
