{% extends 'layouts/main.html' %} {% block title %}About{% endblock %} {% block content %}

<div class="page-header">
    <h1>About the "Discrete Calculator"</h1>
</div>
<p class="lead navbar">This <i class="fa fa-university" aria-hidden="true"></i> educational project is created to learn how to use <i class="fa fa-code" aria-hidden="true"></i> programming skills with our knowledge of Discrete <i class="fa fa-superscript" aria-hidden="true"></i> Mathematics in <i class="fa fa-globe" aria-hidden="true"></i> practice.
    <br>
    <br><i class="fa fa-users" aria-hidden="true"></i> Authors:
    <ul class="navbar">
        <li><a href="https://www.facebook.com/ira.zakharchenko.1" target="_blank">Ira Zakharchenko</a></li>
        <li><a href="https://www.facebook.com/roman.vey" target="_blank">Roman Vey</a></li>
        <li><a href="https://www.facebook.com/1etsbehonest" target="_blank">Volodymyr Zabulskyy</a></li>
        <li><a href="https://mpetruk.com" targe="_blank">Marian Petruk</a></li>
    </ul>
</p>

{% endblock %}