{% extends 'layouts/main.html' %} {% block title %}Help{% endblock %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
<div class="page-header">
    <h1>Help - "Cheatsheet"</h1>
</div>
<ul class="lead navbar">
    <li id="p1">
        <h2>Table of truth</h2>
        <pre><b>Table of truth</b> — <i>is a mathematical table used in logic—specifically, which sets out the functional values of logical expressions on each of their functional arguments, that is, for each combination of values taken by their logical variables.</i></pre>
        <span>For creating and filling the table of truth you need:</span>
        <ol>
            <li>
                Evaluate the number of possible sets of values of the functional variables. If a formula have n different functional variables then the number of possible sets of values will be
                <math>
                    <code style="padding:5px;"><span id="truth"></span></code>
                    <script>
                        katex.render("2^n", document.getElementById("truth"));
                    </script>
                </math>
                . This number defines the number of rows in a table.
            </li>
            <li> Evaluate the number of logical operations in the formula. This number plus the number of logical variables define the number of columns in the table. </li>
            <li> Fill the first n columns with all possible sets of values of logical variables.</li>
            <li> Fill each next column with values from execution of the next logical operation.  
                In the last column of the table there will be all possible values of truth from the given logical formula.
            </li>
        </ol>
    </li>
    <li id="p2">
        <h2>Warshell Algorithm</h2>
        <pre><b>Warshell Algorithm</b> — it is an effective method of generating a transitive closure on the relation R. The main idea of the algorithm is in transforming inputted matrix M<sub>R</sub>, which represents the relation R, into output of transposed matrix M<sub>R<sup>*</sup></sub> on the relation R*. R* is the transitive closure from relation R.
</pre>
        Examples:
        <ul>
            <li>Animated: <img src="../../static/img/warshell.gif"></li>
            <li>Step-by-step:
                <img style="width:250px" src="../../static/img/warshell1.jpg">
                <img style="width:200px" src="../../static/img/warshell2.jpg">
                <img style="width:200px" src="../../static/img/warshell3.jpg">
                <img style="width:250px" src="../../static/img/warshell4.jpg">
            </li>
        </ul>
    </li>
    <li id="p3">
        <h2>Binary relations</h2>
        <pre><b>Binary relation from set A into set B</b> — <i>is the subset R of Cartesin product <b>AxB</b> of these sets: <code style="padding:5px;"><span id="rel"></span></code>
  <script>
            katex.render("R \\subset A \\times B", document.getElementById("rel"));
        </script>In other words, binary relation from <b>A</b> into <b>B</b> – it is a set of ordered pairs, in which the first element of a pair belongs to set <b>A</b>, аnd the second one – to set <b>B</b>. <br>Then write <b>aRb</b> if <code style="padding:5px;"><span id="rel1"></span></code>
  <script>
            katex.render("(a, b) \\Subset R", document.getElementById("rel1"));
        </script></i></pre>
        If <b>а</b> and <b>b</b> are in a relation (<, >, <=, >=, =), then write <b>aRb</b>, e.g. on the set {1,3,8} there are these relations: (1,3),(1,8),(3,1),(3,8),(8,1),(8,3). <br>{(2,6),(4,2),(1,1)} - binary relation.<br> Binary relations have their own properties:
        <ul>
            <li><b>reflexivity</b>: if for any number х from the relation there is a pair xRx, then the relation is reflexive, e.g.: {(2,6),(2,2),(6,6)} - is reflexive, but {(2,6),(6,6)} - is not.</li>
            <li><b>antireflexivity</b>: if for any number x from the relation there is no such pair as xRx, then the relation is antirivlexive, e.g.: {(2,6),(2,2),(6,6)} - is not antireflexive, {(2,7),(6,6)} - is not antireflexive, but {(2,6),(6,7)} {(2,6),(6,6)} - is antireflexive. The relation can be both not reflexive and not antireflexive, but cannot be both reflexive and antireflexive.</li>
            <li><b>symmetry</b>: a relation is symmetrical if for any pair xRy from the relation there is a pair yxR, e.g.: {(2,6),(6,2)} - is symmetrical, {(2,2),(6,6),(3,3)} - is symmetrical, but {(2,6),(6,6)} - not symmetrical</li>
            <li><b>asymmetry</b>: a relation is asymmetrical if for any pair xRy from the relation there is no such pair as yRx, e.g.: {(3,6),(6,3)} - is not asymmetrical, {(2,2),(6,6),(3,3)} - is not asymmetrica, but {(2,6),(5,6)} - is asymmetrical.</li>
            <li><b>antisymmetry</b>: a relation is antisymmetrical if for any pair xRy from the relation there is no such pair as yRx that x is not equal y. That from asymmetrical relation it differs only with that there can be such pairs as (1,1),(5,5),(7,7) and so on. E.g.: {(2,6),(6,3)} - is antisymmetrical, {(2,2),(6,2),(3,3)} - is not antisymmetrical, {(6,5),(5,6)} - is not antisymmetrical.</li>
            <li><b>transitivity</b>: if there are pairs such as xRy and yRz, then there exists the pair xRz. In this case the relation is transitive. {(1,3),(3,4),(1,4),(10,2500)} - is transitive, but {(10,2),(2,5)} - is not, because there is missing the pair (10,5).</li>
            <li><b>antitransitivity</b>: if there are such pairs as xRy and yRz, then there is no pair as xRz. In this case the realtion is antitransitive. {(1,3),(3,4),(1,4),(10,2500)} - is not antitransitive, but {(10,2),(2,5)} - is, because there is no pair (10,5).</li>
        </ul>
    </li>
    <li id="p4">
        <h2>Combinatorics</h2>
        <pre><b>Combinatorics</b> (Combinatorical analysis) - <i>is a branch of mathematics concerning the study of finite or countable discrete structures. Aspects of combinatorics include counting the structures of a given kind and size (enumerative combinatorics), deciding when certain criteria can be met, and constructing and analyzing objects meeting the criteria (as in combinatorial designs and matroid theory), finding "largest", "smallest", or "optimal" objects (extremal combinatorics and combinatorial optimization), and studying combinatorial structures arising in an algebraic context, or applying algebraic techniques to combinatorial problems (algebraic combinatorics).</i></pre>
        The most easiest examples of combinatorical configurations are <i>permutations</i>, <i>arrangements</i>, <i>combinations</i> and <i>partitioning</i>.
        <ul class="font-custom">
        <li>
            If order <i><b>matters</b></i> - Permutations:
            <ul>
                <li>
                    If the items <b>cannot</b> be repeated:
                    <math>
                        <code style="padding:5px;"><span id="A"></span></code>
                        <script>
                            katex.render("A^m_n = n(n-1)...(n-r+1) = \\frac{n!}{(n-m)!}", document.getElementById("A"));
                        </script>
                    </math>
                </li>
                <br>
                <li>
                    If the items <b>can</b> be repeated:
                    </span>
                    <math>
                        <code style="padding:5px;"><span id="Ar"></span></code>
                        <script>
                            katex.render("\\tilde{A}^m_n = n^m", document.getElementById("Ar"));
                        </script>
                    </math>
                </li>
            </ul>
        </li>
        <li>
            If order <i><b>does not matter</b></i> - Combinations:
            <ul>
                <li>
                    If the items <b>cannot</b> be repeated:
                    <math>
                        <code style="padding:5px;"><span id="C"></span></code>
                        <script>
                            katex.render("C^m_n = \\frac{A^m_n}{m!} = \\binom{n}{m} = \\frac{n!}{m!(n-m)!}", document.getElementById("C"));
                        </script>
                    </math>
                </li>
                <br>
                <li>
                    If the items <b>can</b> be repeated:
                    <math>
                        <code style="padding:5px;"><span id="CH"></span></code>
                        <script>
                            katex.render("H^m_n = C^m_{n+m-1}", document.getElementById("CH"));
                        </script>
                    </math>
                </li>
            </ul>
        </li>
        </li>
    </ul>
    </li>
    <li id="p5">
        <h2>Fibonacci number</h2>
        <pre><b>Fibonacci numbers</b> — are the numbers in the following integer sequence, called the Fibonacci sequence, and characterized by the fact that every number after the first two is the sum of the two preceding ones: <math><code style="padding:5px;"><span id="fibo2"></span></code><script>
            katex.render("F_1 = 1, F_2 = 1, F_{n+2} = F_n + F_{n+1}, n = 1, 2, 3..., F_1 = 1, F_2 = 1, F_3 = 2, F_4 = 3, F_5 = 5, F_6 = 8, F_7 = 13, F_8 = 21, ...", document.getElementById("fibo2"));
        </script></math></pre>
        <span>
            <math>
                <code style="padding:5px;"><span id="fibo3"></span></code><script>
                    katex.render("0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...", document.getElementById("fibo3"));
                </script>
            </math>
        </span>
        <img src="../../static/img/fibo.gif">
    </li>
    <li id="p6">
        <h2>Bell numbers</h2>
        <pre><b>Bell number B<sub>n</sub></b> counts the number of partitions of a set. </pre>
        <span>
            E.g., <b>B<sub>3</sub> = 5</b>, because there are 5 possible partitions of the set 
            <b>
                <pre>{a, b, c}</b>: <i>{ {a}, {b}, {c} }<b><sup>1</sup></b>, { {a, b}, {c} }<b><sup>2</sup></b>, { {a, c}, {b} }<b><sup>3</sup></b>, { {a}, {b, c} }<b><sup>4</sup></b>, { {a, b, c} }<b><sup>5</sup></b></i></pre>It is considered, that <b>B<sub>0</sub> = 1</b>.<br>
            Bell number can be computed as the sum of the Stirling numbers of the second kind
            <math>
                <code style="padding:5px;"><span id="bell"></span></code>
                <script>
                    katex.render("B_n = \\sum^n_{k=0}S(n,k)", document.getElementById("bell"));
                </script>
            </math>
        </span>
        <h3>Stirling numbers of the second kind</h3>
        <pre>In mathematics, particularly in combinatorics <b>a Stirling number of the second kind</b> (or Stirling partition number) is the number of ways to partition a set of n objects into k non-empty subsets denoted by S(n, k).</pre>
        <b>
    <li>S(n, n) = 1, n >= 0</li>
    <li>S(n, 0) = 0, n > 0</li> 
    <li>S(n, k) = S(n - 1, k - 1) + k * S(n-1, k)</li></b>
    <br>
    <span>
    There are 7 ways to partition 4-elements set into 2 subsets: </span>
    <ol>
        <li>
            <math>
                <code style="padding:5px;"><span id="stirling2"></span></code>
                <script>
                    katex.render("\\{1, 2, 3\\}\\{4\\}", document.getElementById("stirling2"));
                </script>
            </math>
        </li>
        <li>
            <math>
                <code style="padding:5px;"><span id="stirling3"></span></code>
                <script>
                    katex.render("\\{1, 2 \\}\\{3, 4\\}", document.getElementById("stirling3"));
                </script>
            </math>
        </li>
        <li>
            <math>
                <code style="padding:5px;"><span id="stirling4"></span></code>
                <script>
                    katex.render("\\{1, 2, 4\\}\\{3\\}", document.getElementById("stirling4"));
                </script>
            </math>
        </li>
        <li>
            <math>
                <code style="padding:5px;"><span id="stirling5"></span></code>
                <script>
                    katex.render("\\{1, 3\\}\\{2, 4\\}", document.getElementById("stirling5"));
                </script>
            </math>
        </li>
        <li>
            <math>
                <code style="padding:5px;"><span id="stirling6"></span></code>
                <script>
                    katex.render("\\{1, 3, 4 \\}\\{2\\}", document.getElementById("stirling6"));
                </script>
            </math>
        </li>
        <li>
            <math>
                <code style="padding:5px;"><span id="stirling7"></span></code>
                <script>
                    katex.render("\\{1, 4 \\}\\{2, 3\\}", document.getElementById("stirling7"));
                </script>
            </math>
        </li>
        <li>
            <math>
                <code style="padding:5px;"><span id="stirling8"></span></code>
                <script>
                    katex.render("\\{2, 3, 4 \\}\\{1\\}", document.getElementById("stirling8"));
                </script>
            </math>
        </li>
    </ol>
    <span>
        Тому, 
        <math>
            <code style="padding:5px;"><span id="stirling9"></span></code>
            <script>
                katex.render("S(4, 2) = 7", document.getElementById("stirling9"));
            </script>
        </math>
    </span>
    </li>
</ul>
{% endblock %}

