{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About the "Discrete Calculator"</h1>
</div>
<p class="lead">This educational project is created to learn how to use programming skills with our knowledge of Discrete Mathematics in practice.</p>
<p>Authors:
<ul>
<li><a href="https://www.facebook.com/ira.zakharchenko.1" target="_blank">Ira Zakharchenko</a></li>
<li><a href="https://www.facebook.com/roman.vey" target="_blank">Roman Vey</a></li>
<li><a href="https://www.facebook.com/i.am.vovix" target="_blank">Volodymyr Zabulskyi</a></li>
<li><a href="https://mpetruk.com" targe="_blank">Marian Petruk</a></li>
</ul>
</p>

{% endblock %}
