{% extends 'layouts/main.html' %} {% block title %}Допомога{% endblock %} {% block content %}

<div class="page-header">
    <h1>Додаткова інформація - "Шпаргалка"</h1>
</div>
<ul class="lead navbar"><li><h2>Таблиця істинності</h2>
    <pre><b>Таблиця істинності</b> — <i>це математична таблиця, що виражає відповідність між усіма наборами величин змінних функції.</i></pre>
<span>Для складання та заповнення таблиці істинності потрібно:</span>
<ol>
<li> Обчислити кількість можливих наборів значень логічних змінних. Якщо формула містить n різних логічних змінних, то можливих наборів значень цих змінних буде <b>2<sup>n</sup></b>. Це число визначає кількість рядків у таблиці істинності.</li>
<li> Обчислити кількість логічних операцій у логічному виразі. Ця кількість плюс кількість логічних змінних визначає кількість стовпців таблиці. </li>
<li> Заповнити перші n стовпців усіма можливими наборами значень логічних змінних.</li>
<li> Заповнити кожний наступний стовпець значеннями, отриманими при виконанні чергової логічної операції.  
В останньому стовпці таблиці будуть отримані усі можливі значення істинності заданого логічного виразу. </li>
</ol></li>
<li></li>
</ul>

{% endblock %}
